@{
    ViewData["Title"] = "All cooking classes";
}
<div class="container">
    <div class="row">
        <div clas"offset-lg-2 col-lg-8 col-xs-12">
            <h2 class="text-center">Let's get cooking</h2>
            <h4 class="text-center">Find your perfect experience</h4>
        </div>
    </div>
</div>