@{
    ViewData["Title"] = "All videos";
}

<div class="container">
    <div class="row">
        <div clas"offset-lg-2 col-lg-8 col-xs-12">
            <h2 class="text-center">Watch and learn, then eat</h2>
            <h4 class="text-center">Our videos take you through every step of every recipe, leading to consistently delicious results</h4>
        </div>
    </div>
</div>