@{
    ViewData["Title"] = "Recipes, videos and cooking classes";
}

<div class=container>
    <div class="row">
        <div clas"offset-lg-2 col-lg-8 col-xs-12">
            <h2 class="text-center">One library, millions of ways to level up your cooking skills</h2>
            <h4 class="text-center">Become fearless in the kitchen with ... recipes, videos and cooking classes.</h4>
        </div>
    </div>
</div>
