@{
    ViewData["Title"] = "All recipes";
}

<div class=container>
    <div class="row">
        <div clas"offset-lg-2 col-lg-8 col-xs-12">
            <h2 class="text-center">Unleash your creativity with our huge selection of delicious recipe ideas</h2>
            <h4 class="text-center">Quickly master complex, flavorful dishes</h4>
        </div>
    </div>
</div>

